// Specific CSS for your home-page
.home-page {
  height: 100vh;
  padding: 24px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
