<h2 class="margin-divider-top">Explore more categories...</h2>
<div class="cards-category hide-scrollbar my-10">
  <% hashtags.each do |hashtag| %>
    <%= link_to boards_path(hashtag: hashtag.title), class:"text-decoration-none text-black me-3" do  %>
      <%= render 'shared/card_category', hashtag: hashtag %>
    <% end %>
  <% end %>
</div>
