<div class="cmy-container">
  <h1>Components</h1>
  <%= render 'shared/card_category', hashtag: @hashtag %>
  <%= link_to "Hello", boards_path, class:"button button-primary"  %>
  <%= link_to "Hello", boards_path, class:"button button-secondary"  %>
</div>
