<div class="home-page">
  <div class="container mx-auto flex items-center flex-col h-screen justify-around">
    <h1>Top 5 lists created and currated <br> by the community</h1>
    <h3 class="pl-10 pr-10">Discover, bookmark and contribute in hundreds <br> of categories and top 5 lists</h3>
    <%= form_tag boards_path, method: :get, class:"search-form" do %>
      <div class="search-bar">
        <div class="flex items-center">
          <p class="w-16 m-0">Top 5</p>
        </div>
        <%= text_field_tag :query,
          params[:query],
          placeholder: "     ",
          class: "w-full border-none pe-3 underline-placeholder"
        %>
        <button class="button button-secondary button-small"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    <% end %>
    <div class="w-full">
      <p class="margin-divider-bottom-small">Or search by categories:</p>
      <div class="cards-category hide-scrollbar">
        <% @hashtags.each do |hashtag| %>
          <%= link_to boards_path(hashtag: hashtag.title), class:"text-decoration-none text-black" do  %>
            <%= render 'shared/card_category', hashtag: hashtag %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
