.search-bar {
  display: flex;
  border: 2px solid $gray;
  padding: 8px;

  input {
    &:focus {
      outline: none;
    }
  }
}

.form-partial {
  margin: 0px auto;
  border: 2px solid $gray;
  width: 50%;
  padding: 24px;
  margin-bottom: 8rem;
}

.underline-placeholder::placeholder {
  border-bottom: 1px solid gray;
  width: 200px;
}
