/* .button {
  text-decoration: none;
  border: 2px solid $black;
  padding: 8px 60px;
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: none;
    border: 2px solid $black;
    color: $white;
    cursor: pointer;
  }
}

.button-primary {
  background-color: $primary;
  color: $white;
  box-shadow: -4px 4px 0px $primary, -3px 3px 0px $white inset;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.button-secondary {
  background-color: $black;
  color: $white;
  box-shadow: -4px 4px 0px $primary;
  // text-decoration: none;
  // border: 2px solid $black;
  // padding: 8px 20px;
  // transition: all .2s ease-in-out;

  &:hover {
    border: 2px solid $black;
    box-shadow: none;
    color: $white;
  }
}

.button-ghost {
  background-color: $white;
  color: $black;

  &:hover {
    border: none;
    background-color: $primary;
    color: $white;
  }
}

.button-small {
  padding: 4px 12px;
}

.remove-shadow {
  box-shadow: none;

  &:hover {
    scale: 1.1;
  }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .cards-2 {
    grid-template-columns: 1fr;
  }

  .horizontal-card {
    padding: 24px 36px;
    margin-bottom: 24px;
    border: 1px solid $gray;
    display: flex;
    justify-content: space-between;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .cards-2 {
    grid-template-columns: 1fr;
  }
} */
