/* .search-form {
  width: 75%;
}

.search-bar {
  display: flex;
  border: 2px solid $gray;
  padding: 8px;

  input {
    &:focus {
      outline: none;
    }
  }
}

.form-partial {
  margin: 0px auto;
  border: 2px solid $gray;
  width: 50%;
  padding: 24px;
  margin-bottom: 8rem;
}

.underline-placeholder::placeholder {
  border-bottom: 1px solid gray;
  width: 200px;
}

.selectize-input {
  border: none;

  input {
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}

.top-five-name {
  position: relative;
}

.top-five-tag {
  margin-bottom: 0px;
  position: absolute;
  bottom: 6px;
  left: 12px;
}

.padding-left-60px {
  padding-left: 60px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .search-form {
    width: 100%;
  }

  .form-partial {
    width: 100%;
    // padding: 24px;
    // margin-bottom: 8rem;
  }
} */
